*{
	margin: 0px;
	padding: 0px;
}
.container{
	width: 1140px;
	margin: 0 auto;
	
	 

}
header{
width: 100%;
float: left;
background-color: whitesmoke;
}
.logo{
	background-color: whitesmoke;
	height: 75px;
	width: 25%;
	float: left;


}
.menu{
	background-color: whitesmoke;
	height: 75px;
	width: 50%;
	float: left;
}
.menu nav ul{
	list-style: none;
	

}

.menu nav ul li{
    display: inline-block;
	margin: 0px 23px;
	padding:15px;

}

.menu nav ul li a{
	color: black;
	text-decoration: none;
	font-size: 15px;
	font-weight: 500;

}

.registration{

	
	background-color: whitesmoke;
	height: 75px;
	width: 25%;
	float: left;
	
}
.registration a{
	margin: 0px 23px;
	padding: 6px;
}
.container2{
	background-color: purple;
	height: 300px;
	width: 100%;

}